# Flutter/Dart build files
flutter_partner_app/.dart_tool/
flutter_partner_app/.flutter-plugins
flutter_partner_app/.flutter-plugins-dependencies
flutter_partner_app/.packages
flutter_partner_app/.pub-cache/
flutter_partner_app/.pub/
flutter_partner_app/build/
flutter_partner_app/.idea/
flutter_partner_app/*.iml

# Android specific
flutter_partner_app/android/.gradle/
flutter_partner_app/android/captures/
flutter_partner_app/android/gradlew
flutter_partner_app/android/gradlew.bat
flutter_partner_app/android/local.properties
flutter_partner_app/android/**/GeneratedPluginRegistrant.java

# iOS / macOS specific
flutter_partner_app/ios/Flutter/Generated.xcconfig
flutter_partner_app/ios/Flutter/app.framework
flutter_partner_app/ios/Flutter/Flutter.framework
flutter_partner_app/ios/Flutter/Flutter.podspec
flutter_partner_app/ios/Pods/
flutter_partner_app/ios/.symlinks/
flutter_partner_app/ios/profile
flutter_partner_app/ios/Release
flutter_partner_app/macos/Pods/

# Environment / OS
.DS_Store
Thumbs.db
*.log
